<!-- app/views/books/show.html.erb -->

<h1><%= @book.title %></h1>
<p>
  <strong>Autor:</strong>
  <%= @book.author %>
</p>
<p>
  <strong>Opis:</strong>
  <%= @book.description %>
</p>
<!-- Dodaj więcej pól, jeśli potrzebujesz -->
<% if current_user.librarian? %>
  <%= link_to 'Edytuj', edit_book_path(@book) %>
<% end %>
 |
<%= link_to 'Powrót do Listy', books_path %>

<% if current_user.librarian? %>
  <% if @book.is_available %>
    <%= link_to 'Wypożycz książkę', new_rental_path(book_id: @book.id), class: 'btn btn-primary' %>
  <% else %>
    <%# <%= link_to 'Zwróć książkę', return_book_path(@book.id), method: :post, class: 'btn btn-primary' %> %>
  <% end %>
<% end %>
