<!DOCTYPE html>
<html>
  <head>
    <title>LibraryApp1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
      <% if current_user.type = 'Librarian'%>
        <p>Zalogowany jako: Bibliotekarz</p>
      <% elsif current_user.type = 'Reader' %>
        <p>Zalogowany jako: Czytelnik</p>
      <% end %>
      <%= link_to 'Wyloguj', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Zaloguj', new_user_session_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
