<!DOCTYPE html>
<html>
  <head>
    <title>LibraryApp1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= button_to 'Powrót', 'javascript:history.back()', method: :get, class: 'btn btn-secondary' %>
      <% if current_user.type == 'Librarian'%>
        <p>Zalogowany jako: Bibliotekarz</p>
        <% if session[:current_reader_id].present? %>
          <%= link_to 'Wypożyczenia Czytelnika', index_rentals_path, class: 'btn btn-primary' %>
          <%= link_to 'Zapomnij czytelnika', forget_reader_path, class: 'btn btn-secondary' %>
        <% else %>
          <%= link_to 'Zweryfikuj czytelnika', show_reader_card_path, class: 'btn btn-primary' %>
        <% end %>
      <% elsif current_user.type == 'Reader' %>
        <p>Zalogowany jako: Czytelnik</p>
        <%= link_to 'Wypożyczenia Czytelnika', index_rentals_path, class: 'btn btn-primary' %>
      <% end %>
      <%= link_to 'Wyloguj', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Zaloguj', new_user_session_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
